{% extends 'base.html'  %}

{% block title %} fdsfasdfsdf {% endblock %}

{% block content %}
    <div class="form-wrap my-5 p-5 mx-auto ">
        <form class="form-inline justify-content-md-center" method="post">
            {{ form.hidden_tag() }}
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">{{ form.url_string.label }}</div>
                </div>

                {{ form.url_string(size=32, class="form-control form-control-lg") }}

                <div class="input-group-append">
                    {{ form.submit(class="btn btn-primary btn-lg") }}
                </div>
            </div>
        </form>
        <div class="text-center mt-2">
            {% for error in form.url_string.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="card border-light my-4 mx-auto" style="max-width: 21rem;">
        <div class="card-header">Descriptions</div>
        <div class="card-body">
            <h5 class="card-title">Light card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
{% endblock %}
